In [1]:
import pandas as pd

In [7]:
a = pd.read_csv("melb_data.csv")

In [9]:
pd.DataFrame.sample(a,n=100)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
4843,Prahran,602/220 Commercial Rd,2,u,841000.0,S,hockingstuart,18/03/2017,4.5,3181.0,...,2.0,1.0,0.0,101.0,1850.0,Stonnington,-37.8470,144.9936,Southern Metropolitan,7717.0
3262,Heidelberg Heights,92A Southern Rd,2,h,510000.0,SP,Barry,25/02/2017,10.5,3081.0,...,1.0,2.0,244.0,NaN,NaN,Banyule,-37.7421,145.0491,Eastern Metropolitan,2947.0
7325,Oakleigh,94 Burlington St,3,h,880000.0,PI,Barry,7/11/2016,14.0,3166.0,...,1.0,1.0,670.0,118.0,1925.0,Monash,-37.9033,145.1006,Southern Metropolitan,3224.0
827,Bentleigh East,7 Wallace St,3,h,1355000.0,S,Buxton,8/10/2016,13.9,3165.0,...,1.0,2.0,818.0,NaN,NaN,Glen Eira,-37.9241,145.0539,Southern Metropolitan,10969.0
415,Ashwood,1/7 Farmer St,2,t,700000.0,S,hockingstuart,7/11/2016,12.2,3147.0,...,1.0,2.0,367.0,110.0,1970.0,Monash,-37.8662,145.1090,Southern Metropolitan,2894.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2126,Doncaster,47 Roseland Gr,5,h,1461800.0,SP,Jellis,3/12/2016,13.9,3108.0,...,2.0,2.0,660.0,NaN,NaN,Manningham,-37.7791,145.1328,Eastern Metropolitan,9028.0
5949,Sunshine,34 Ernest St,4,h,890000.0,S,Sweeney,12/11/2016,12.6,3020.0,...,1.0,2.0,668.0,127.0,1930.0,Brimbank,-37.7796,144.8450,Western Metropolitan,3755.0
4851,Prahran,49 Clifton St,2,h,765000.0,S,Beller,19/11/2016,4.5,3181.0,...,1.0,0.0,98.0,NaN,1890.0,Stonnington,-37.8501,144.9953,Southern Metropolitan,7717.0
2423,Essendon,79 Lincoln Rd,4,h,1726000.0,S,Nelson,18/03/2017,8.0,3040.0,...,2.0,2.0,705.0,NaN,NaN,Moonee Valley,-37.7497,144.9089,Western Metropolitan,9264.0
439,Avondale Heights,8 Norma Ct,3,h,850000.0,S,Moonee,3/09/2016,10.5,3034.0,...,1.0,1.0,593.0,118.0,1970.0,Moonee Valley,-37.7677,144.8674,Western Metropolitan,4502.0

In [12]:
b = pd.DataFrame.sample(a,n=10)
pd.DataFrame.isnull(b)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
10327,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5073,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
4843,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7569,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10950,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
13325,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,True,False,False,False,False
9158,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
8388,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
2839,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
9790,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False

In [17]:
c = pd.DataFrame.sample(a,n=1)
pd.DataFrame.sum(c)

Suburb                     South Yarra
Address               22/382 Toorak Rd
Rooms                                2
Type                                 u
Price                         601000.0
Method                               S
SellerG                         Biggin
Date                        10/12/2016
Distance                           3.3
Postcode                        3141.0
Bedroom2                           2.0
Bathroom                           1.0
Car                                1.0
Landsize                           0.0
BuildingArea                       0.0
YearBuilt                       1970.0
CouncilArea                Stonnington
Lattitude                     -37.8406
Longtitude                    145.0033
Regionname       Southern Metropolitan
Propertycount                  14887.0
dtype: object

In [22]:
a.shape

(13580, 21)

In [23]:
import numpy as np

In [24]:
np.product(a)

C:\ProgramData\Anaconda3\envs\qiskitdemo\lib\site-packages\numpy\core\_methods.py:51: RuntimeWarning: overflow encountered in reduce
  return umr_prod(a, axis, dtype, out, keepdims, initial, where)

Rooms            0.0
Price            inf
Distance         NaN
Postcode         inf
Bedroom2         0.0
Bathroom         0.0
Car              0.0
Landsize         0.0
BuildingArea     NaN
YearBuilt        inf
Lattitude        inf
Longtitude       inf
Propertycount    inf
dtype: float64

In [26]:
pd.DataFrame.dropna(a)
# 如果一行中有一个空的就删掉全部

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.00,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.00,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.00,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
6,Abbotsford,124 Yarra St,3,h,1876000.0,S,Nelson,7/05/2016,2.5,3067.0,...,2.0,0.0,245.0,210.00,1910.0,Yarra,-37.80240,144.99930,Northern Metropolitan,4019.0
7,Abbotsford,98 Charles St,2,h,1636000.0,S,Nelson,8/10/2016,2.5,3067.0,...,1.0,2.0,256.0,107.00,1890.0,Yarra,-37.80600,144.99540,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12205,Whittlesea,30 Sherwin St,3,h,601000.0,S,Ray,29/07/2017,35.5,3757.0,...,2.0,1.0,972.0,149.00,1996.0,Whittlesea,-37.51232,145.13282,Northern Victoria,2170.0
12206,Williamstown,75 Cecil St,3,h,1050000.0,VB,Williams,29/07/2017,6.8,3016.0,...,1.0,0.0,179.0,115.00,1890.0,Hobsons Bay,-37.86558,144.90474,Western Metropolitan,6380.0
12207,Williamstown,2/29 Dover Rd,1,u,385000.0,SP,Williams,29/07/2017,6.8,3016.0,...,1.0,1.0,0.0,35.64,1967.0,Hobsons Bay,-37.85588,144.89936,Western Metropolitan,6380.0
12209,Windsor,201/152 Peel St,2,u,560000.0,PI,hockingstuart,29/07/2017,4.6,3181.0,...,1.0,1.0,0.0,61.60,2012.0,Stonnington,-37.85581,144.99025,Southern Metropolitan,4380.0
12212,Yarraville,54 Pentland Pde,6,h,2450000.0,VB,Village,29/07/2017,6.3,3013.0,...,3.0,2.0,1087.0,388.50,1920.0,Maribyrnong,-37.81038,144.89389,Western Metropolitan,6543.0

In [28]:
pd.DataFrame.fillna(a,value=0)
# method = ffill/bfill

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,0.0,0.0,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,0.0,0.0,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,...,2.0,2.0,652.0,0.0,1981.0,0,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,...,2.0,2.0,333.0,133.0,1995.0,0,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,...,2.0,4.0,436.0,0.0,1997.0,0,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,...,1.0,5.0,866.0,157.0,1920.0,0,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,0,-37.81188,144.88449,Western Metropolitan,6543.0

In [31]:
pd.DataFrame.mean(a)

Rooms            2.937997e+00
Price            1.075684e+06
Distance         1.013778e+01
Postcode         3.105302e+03
Bedroom2         2.914728e+00
Bathroom         1.534242e+00
Car              1.610075e+00
Landsize         5.584161e+02
BuildingArea     1.519676e+02
YearBuilt        1.964684e+03
Lattitude       -3.780920e+01
Longtitude       1.449952e+02
Propertycount    7.454417e+03
dtype: float64